In [ ]:
#Be sure to hyperlink to data fram reference api for dataframes

In [ ]:
#Pandas is package that deals with data frames, data frames

In [2]:
#import packages
import pandas as pd

In [3]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
#Create a DataFrams from a list

data =[['Kailyn', 21], ['Sanniyah', 31], ['Tyler', 16]]
df = pd.DataFrame(data, columns= ['Name', 'Age'])
#To manipulate rows is is called index
print(df)

       Name  Age
0    Kailyn   21
1  Sanniyah   31
2     Tyler   16

In [8]:
#Create a dataframe from a Dictionary of ndarrays

data = {'Name': ['Kailyn', 'Sanniyah', 'Tyler'], 'Age':[21,31,16]}
df = pd.DataFrame(data)
print(df)

       Name  Age
0    Kailyn   21
1  Sanniyah   31
2     Tyler   16

In [15]:
#Create a dictionary of lists and then intialize a data frame
#Create a DataFrama from List of Dictionary

#List and then each item is a dictionary 
#column a and column b and in each is 1 and 2
#Creates 3 columns and 2 rows
#Given missing one column in a dictionary dataframes will complete it by giving a nonValue 
data = [{'a': 1, 'b':2}, {'a':5, 'b':10, 'c': 7}]
df = pd.DataFrame(data, index= ['first', 'second'])
print(df)

        a   b    c
first   1   2  NaN
second  5  10  7.0

# Working with CSV file

In [18]:
#withing parenthesis set the path where you saved the file 
data = pd.read_csv('cardio_train.csv', delimiter=';')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [20]:
#Finding the number of columns and rows
#Shape:wiill return a 1D array with rowns and columns, looks at the whole array 
print("Number of Rows and Columns:({}, {})".format(data.shape[0], data.shape[1]))
#This will only return the first element or first position of the 1D array

#Print the first 5 elements of data array

data.head()
# .head() is a built in function that will default to printing 5 but it can be specified within the parenthesis

Number of Rows and Columns:(70000, 13)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [27]:
# How to print the label of the columns
print(data.columns)
print(data.keys())
data.head(0)

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')
Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

Empty DataFrame
Columns: [id, age, gender, height, weight, ap_hi, ap_lo, cholesterol, gluc, smoke, alco, active, cardio]
Index: []

In [28]:
#Printting specific row using iloc = index location function,
# looking up the location of a row by its index
data.iloc[[2]]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1

In [33]:
#To see a particular value and print it = data.loc

print("Information of Row {0:d}, and column {1:s}: {2:d}".format(60, 'height', data.loc[60, 'height']))

Information of Row 60, and column height: 159

In [41]:
#Printing the first 4 colums from the second row

data.iloc[[0], 0:4]
#0:4 presents the range to view
#4:9 will print rows 4-9 on row 1

data.loc[[4],["age", "height", "cholesterol"]]

     age  height  cholesterol
4  17474     156            1

In [42]:
#print the entire dataFrame information

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [44]:
data.nunique()
#Will give you how mant different values each value has

id             70000
age             8076
gender             2
height           109
weight           287
ap_hi            153
ap_lo            157
cholesterol        3
gluc               3
smoke              2
alco               2
active             2
cardio             2
dtype: int64

In [49]:
#Creating new columns names based on preexisting data from the list 
columns_list = ['gender', 'weight', 'height', 'smoke']
row = list(range(300)) #List range will go from 0 to 300
new_data = pd.DataFrame(data, index= row, columns=columns_list)
new_data.head() #Will print the first 5 in the list

   gender  weight  height  smoke
0       2    62.0     168      0
1       1    85.0     156      0
2       1    64.0     165      0
3       2    82.0     169      0
4       1    56.0     156      0

# Doing queries with Data Frame

In [50]:
# How to find how many males, females and those males and females that smoke 
n_row = range(data.shape[0])
columns_list = ["gender", "smoke"]
gender_1 = pd.DataFrame(data, index=n_row, columns=columns_list).query("gender ==1").count()
#There are 2 genders 1 and 2
#Create new dataframe with those genders that are only labled as 1
gender_2 = pd.DataFrame(data, index=n_row, columns=columns_list).query("gender ==2").count()
#Those genders that are 1 who smoke = 1
gender_1_1 = pd.DataFrame(data, index=n_row, columns=columns_list).query("gender ==1 and smoke ==1 ").count()
gender_2_1 = pd.DataFrame(data, index=n_row, columns=columns_list).query("gender ==2and smoke ==1 ").count()

In [61]:

print("Total number of samples of gender 1 \n{}".format(gender_1))
print("Total number of samples of gender 2 \n{}".format(gender_2))
print("Total number of samples of gender 1_1 \n{}".format(gender_1_1))
print("Total number of samples of gender 2_1 \n{}".format(gender_2_1))

Total number of samples of gender 1
gender    45530
smoke     45530
dtype: int64
Total number of samples of gender 2
gender    24470
smoke     24470
dtype: int64
Total number of samples of gender 1_1
gender    813
smoke     813
dtype: int64
Total number of samples of gender 2_1
gender    5356
smoke     5356
dtype: int64